<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <div style="text-align: center;">
      <h1>Welcome Employee</h1>

      <button><a href="/employee/MyProfile">My Profile</a></button>
      <br />
      <br />
      <button><a href="/employee/UpdateProfile">Update Profile</a></button>
    </div>
  </body>
</html>
