<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Employee</title>
  </head>
  <body>
    <h1>Add New Employee</h1>
    <form method="POST">

        <legend>Add user</legend>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" />
        <br />
        <br />

        <label for="Password">Password: </label>
        <input type="password" name="password" id="Password" />
        <br />
        <br />

        <label for="Phone">Phone: </label>
        <input type="text" name="phone" id="Phone" />
        <br />
        <br />

        <label for="gender">Gender</label>
        <input type="radio" value="male" name="gender" id="gender" /> Male
        <input type="radio" name="gender" value="female" id="gender" />
        Female

        <br />
        <br />

        <label for="address">Address: </label>
        <input type="text" name="address" id="address" />
        <br />
        <br />

        <label for="designation">designation: </label>
        <select name="designation" id="designation">
          <option value="owner">Owner </option>
          <option value="manager">Manager </option>
          <option value="employee">Employee </option>
        </select>

        <br />
        <br />
        <button type="submit">ADD Employee</button>

    </form>
  </body>
</html>
