<!DOCTYPE html>
<html lang="en">
  <head>
    

    <title>Admin</title>
  </head>
  <body>
    <div style="text-align: center;">
      <h2>Welcome to the Admin Panel</h2>

      <button><a href="/admin">Add Employee</a></button>
      <br />
      <br />
      <button><a href="/admin">All Employee List</a></button>
    </div>
  </body>
</html>
